@import "./cards.scss";
@import "./forms.scss";

:root {
  --border-color-white: rgba(219, 227, 222, 0.35);
  /* ----------- Non-Retina Screens ----------- */
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    --font-size: 5rem;
    --font-weight: 500;
    --contact-container-padding: 5em;
  }

  /* ----------- Retina Screens ----------- */
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    --font-size: 5rem;
    --font-weight: 500;
    --contact-container-padding: 5em;
  }
  /* ----------- iPhone 4 and 4S ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Portrait */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Portrait */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Portrait */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* ----------- iPhone 6+, 7+ and 8+ ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Portrait */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* ----------- iPhone X ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Portrait */
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }

  /* Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    --font-size: xx-large;
    --font-weight: 400;
    --contact-container-padding: 2em;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div::-webkit-scrollbar {
  width: 0.4em;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  border-bottom: 3px solid var(--border-color-white);
  display: flex;
  flex-direction: row;
}

.nav-actions {
  display: flex;
  flex: 1;
  justify-self: flex-start;
  justify-content: flex-start;
  align-items: center;
}

.nav-title {
  display: flex;
  flex: 1;
  justify-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  font-weight: 500;
  padding: 0.3em;
  @media screen and (max-width: 800px) {
    font-weight: 500;
    font-size: large;
  }
  & .desktop-title {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  & .mobile-title {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}

.nav-action {
  border: none;
  text-decoration: none;
  color: #000;
  background: transparent;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 80%;
  height: 80%;
  cursor: pointer;
  position: relative;
  @media screen and (min-width: 800px) {
    margin: none;
  }
  & .button-text {
    margin-left: 0.5em;
    @media screen and (max-width: 799px) {
      display: none;
    }
  }
}

.nav-action-lang {
  @extend .nav-action;
  width: 30% !important;
  max-width: 30% !important;
}

.nav-action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-action::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.nav-action:hover span {
  letter-spacing: 2px;
}
.nav-action:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.nav-action::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.nav-action:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.section-container {
  min-height: 100vh;
  min-width: 100%;
  & .section-title{
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    min-height: 10vh;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
  }
}

.section-container-sm {
  min-width: 100%;
  min-height: 100vh;
}

.personal-data {
  top: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 22%, rgba(0, 212, 255, 1) 100%);
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.info-container {
  padding: 5em 2em;
  display: flex;
  flex-direction: row;
}
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-picture-container {
  position: absolute;
}

.filter-picture-container {
  position: absolute;
}

.circle-picture {
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.texture {
  border-radius: 60%;
  mix-blend-mode: multiply;
  filter: contrast(3);
}
.footer {
  height: 60px;
  padding: 1em;
  margin-top:1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  border-top: 3px solid var(--border-color-white);
  & div {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
  }
}
